html, body {
  height: 100%;
}

body {
  margin: 0;
  width: 100%;
}

.row {
  margin-bottom: 20px;
}
.row1 > div {
  background-color: black;
  color: white;
  height: 150px;
  width: 150px;
  display: inline-block;
}

.row1 .div2, .row1 .div3 {
  float: right;
}

.row1 .div2 {
  margin-right: 5px;
}

.row2> div {
  background-color: black;
  color: white;
  height: 150px;
  width: 150px;
}

.row2 {
  display: flex;
  flex-direction: row;
}

.row2 .div5 {
  margin-left: auto;
  margin-right: 5px;
}
